<p>Recuper Contraseña</p>
<span>Para recuperar la contraseña ingrese su usuario, </span><br />
<span> posteriormente se le estará enviando un correo con los datos.</span><br/>
<mat-form-field>
    <mat-label>Ingrese Email</mat-label>
    <input matInput name="user" [(ngModel)]="user" type="email">
</mat-form-field>
<mat-dialog-content>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="forgotpassword()">recuperar</button>

</mat-dialog-actions>