.body-pages {
    background-image: url('../../assets/img/home/fondospages.png');
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}