<h2 mat-dialog-title></h2><p class="message">{{this.message}}</p>
<mat-dialog-content>
    <table class="table mat-elevation-z8">
        <thead>
            <tr>
                
                <th >Producto</th>
                <th></th>
                <th >Precio Unitario</th>
                <th >Cantidad</th>
                <th >Sub Total</th>
                
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of order.items ; let i = index">
                 <td><img [src]="item.productPath" alt="" height="42" width="42"></td>
                <td>{{item.productname}}</td>
                <td>s/. {{ item.price }}</td>
                <td>{{ item.quantity.toFixed(2) }} {{item.measurementUnit}}</td>
                <td>{{ item.total.toFixed(2) }} </td>
                
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions class="text-center">
    <button mat-button mat-dialog-close>Cerrar</button>
   
</mat-dialog-actions>