<mat-card>
    <mat-card-title>Cambiar Contraseña</mat-card-title>
    <p class="error">{{message}}</p>
    <form (submit)="save()">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <mat-form-field class="form-full-width">
                        <mat-label>Email</mat-label>
                        <input type="text" [(ngModel)]="changePassword.email" name="Email" matInput placeholder="Email" disabled>
                    </mat-form-field>
                   
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <mat-form-field class="form-full-width">
                        <mat-label>Anterior Password</mat-label>
                        <input  [(ngModel)]="changePassword.passwordOld" name="passwordOld" matInput
                            placeholder="Anterior Password" type="password" required>
                    </mat-form-field>
                    <mat-error>
                        {{ this.errors | errorMessage : 'passwordOld'}}
                    </mat-error>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <mat-form-field class="form-full-width">
                        <mat-label>Nuevo Password</mat-label>
                        <input type="password" [(ngModel)]="changePassword.passwordNew" name="passwordNew" matInput
                            placeholder="Nuevo Password" required>
                    </mat-form-field>
                    <mat-error>
                        {{ this.errors | errorMessage : 'passwordNew'}}
                    </mat-error>
                </div>
            </div>
           

        </div>

        <mat-card-actions class="d-flex justify-content-end">
            <button mat-raised-button [routerLink]="['/login']">Cancelar</button>
            <button mat-raised-button type="submit" color="primary">Guardar</button>
        </mat-card-actions>
    </form>
</mat-card>